// 
// --------------------------------------------------

// Block
// --------------------------------------------------
.list
	li
	a
		font-size: 16px 
		color: #009ad5
		text-decoration: none
		border-bottom: 1px dotted #009ad5
		&:hover
			border-color: transparent

.schedule
	font-size: 16px
	color: #242424 
	.schedule__meta
		margin-bottom: 27px
		font-size: 16px
		color: #242424
		+psb
	ul
	li
	.schedule__date
		margin-bottom: 10px
	.schedule__content
		margin-left: 35px
		p
			margin-bottom: 10px
		a
			color: #089ED7
			text-decoration: none
			&:hover
				text-decoration: underline

.quote
	margin-top: 30px
	margin-bottom: 30px
	padding: 25px 40px
	background: #f7f7f7
	font-style: italic
	font-size: 24px
	color: #242424
	position: relative
	&:before
		content: ""
		+s(i-quote)
		position: absolute
		top: -8px
		left: 40px

.tags
	margin: 30px 0
	+clr
	ul
	li
		margin-right: 10px
		float: left
	a
		display: inline-block
		height: 24px
		padding: 0 13px
		border-radius: 12px
		border: 1px solid #97d7ef
		font-size: 15px
		color: #089ED7
		text-decoration: none
		&:hover
			background: #EDFAFF 
			text-decoration: underline

.addsocial
	padding-top: 40px
	border-top: 1px solid #e9e9e9 
	img
		margin: 0

.contacts
	margin-top: -10px
	.contacts__in
	.contacts__block
		margin-bottom: 20px
		padding-bottom: 20px
		border-bottom: 1px solid #e9e9e9 
	a
		font-size: 16px
		text-decoration: none
		color: #1FB0E0
		&:hover
			text-decoration: underline
	.map
	.contacts__tel
		margin-top: 10px
		font-size: 28px
		color: #242424
		a
			font-size: 28px
			color: #242424
			text-decoration: none
	.contacts__mail
		margin-top: 5px
		font-size: 28px
		color: #1FB0E0
		text-decoration: none
		a
			font-size: 28px
			color: #1FB0E0
			text-decoration: none
			&:hover
				text-decoration: underline

.media
	width: 750px
	height: 435px
	margin-bottom: 30px
	position: relative
	overflow: hidden
	&:hover
		.media__overlay
			opacity: 1
			bottom: 0
	.media__img
		width: 750px
		height: 435px
		overflow: hidden
		img
			max-width: 100%
	.media__overlay
		padding: 30px
		position: absolute
		bottom: 0
		left: 0
		right: 0
		background: rgba(#000, .7)
		font-size: 16px
		text-align: center
		color: #FFF
		
		opacity: 0
		-webkit-transition: all 0.6s ease
		-moz-transition:    all 0.6s ease
		-o-transition:      all 0.6s ease
		bottom: -30%
	.media__meta
		font-style: italic
		color: #C0C0C0

.about
	width: 780px
	h3, .h3
		margin-top: 30px
		margin-bottom: 0

.team
	margin-top: 30px
	.team__in
		width: 820px
		margin-right: -40px
		+clr
	.team__item
		width: 233px
		margin-bottom: 25px
		float: left
		margin-right: 40px
		text-align: center
	.team__media
		width: 150px
		height: 150px
		line-height: 150px
		border: 10px solid #ededed
		margin-left: auto
		margin-right: auto
		margin-bottom: 15px
		border-radius: 50%
		overflow: hidden
		text-align: center
		img
			max-width: 100%
			border-radius: 50%
			margin-top: 0
			margin-bottom: 0
	.team__descr
	.team__post
		font-size: 15px
		+ps
		font-style: italic
		color: #AA3C5A
	.team__name
		margin-bottom: 5px
		font-size: 20px
		color: #151515 
	.team__tel
		margin-bottom: 5px
		font-size: 16px
		color: #8C8C8C 
	.team__mail
		font-size: 16px
		color: #8C8C8C
		text-decoration: underline
		&:hover
			text-decoration: none
		a
			color: #8C8C8C
			text-decoration: underline
			&:hover
				text-decoration: none
	
			 