// 
// --------------------------------------------------

// Block
// --------------------------------------------------
.list
	li
	a
		font-size: 16px 
		color: #009ad5
		text-decoration: none
		border-bottom: 1px dotted #009ad5
		&:hover
			border-color: transparent 